@font-face {
    font-family: "hamaraFont";
    src: url("./Merriweather-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .navbar-brand{
   padding-left: 280px;
} */

.navbar {
    padding: 10px 180px;
    position:sticky;
    top: 0px;
    z-index: 1;
}

.collapse {
    margin-left: 20px;
}
.nav-item {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all .5s;
    display: flex;
    align-items: center;
}
.nav-item:hover {
    border-color: grey;
}
.nav-item-last {
    color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin-right: 70px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all .5s;
    display: flex;
    align-items: center;
}
.nav-item-last:hover {
    border-color: grey;
}
.navbar-nav {
    gap: 10px;
}

.btnNavItem:hover {
    border-color: transparent;
}

.nav-item button {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    transition: all .5s;
}

.nav-item button:hover {
    background-color: gray;
}

#orderBtn {
    border-color: rgba(255, 8, 0, 0.7);
    background-color: red;;
}

#orderBtn:hover {
    background-color: rgba(255, 8, 6, 0.5);
}

.carousel-indicators button {
    background-color: white !important;
    height: 4px !important;
}

.cardMainDiv {
    background-color: black !important;
    padding: 80px 150px;
}

.cardHeadingDiv h2 span {
    font-family: "Apercu";
    font-size: 40px;
    font-style: normal;
    font-weight: 400px;
    line-height: 50px;
}

.cardDiv {
    padding: 20px 180px;
}

.imgDiv {
    padding: 10px 29px;
    background-color: white;
    border-radius: 10px;
}

.imgDiv img {
    background-color: white;
    width: 100%;
    height: 100%;

}

.btnDiv button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s;
}

.btnDiv button:hover {
    background-color: gray;
}

/* @media (max-width: 320px) {
    .navbar-brand{
        padding-left:0px;
    }
    
} */
@media (max-width: 991px) {
    .collapse {
        margin-left: 0;
    }
}


@media (min-width: 400px) {
    .navbar {
        padding: 10px 10px;
    }
}
@media (min-width: 1024px) {
    .collapse {
       gap: 0px;
       margin-left: 0px;
    }
    .navbar-brand{
        margin: 0px;
    }
    .nav-item button{
        width: 135px;
       padding: 10px 8px;
       margin: 5px;
    }
    .navbar-nav {
        gap: 0px;
    }
    .nav-item {
        color: white;
        padding-left: 10px;
        padding-right: 0px;
    }
    .navbar-brand{
        margin-right: 70px;
    }
    .nav-item-last {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0px;
        border: 1px solid transparent;
        border-radius: 20px;
        transition: all .5s;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 280px){
    .navbar-brand{
        margin-right: 0px;
    }
    .navbar-brand img{
        width: 125px;
    }
}

@media (min-width: 1274px) {
    .collapse {
       gap: 0px;
       margin-left: 0px;
    }
    .navbar-brand{
        margin: 0px;
    }
    .nav-item button{
        width: 135px;
       padding: 10px 8px;
       margin: 5px;
    }
    .navbar-nav {
        gap: 0px;
    }
    .nav-item {
        color: white;
        padding-left: 10px;
        padding-right: 0px;
    }
    .navbar-brand{
        margin-right: 245px;
    }
}
@media (max-width: 1024px) {
    .collapse {
       gap: 0px;
    }
}
@media (min-width: 321px) {
    .navbar {
        padding: 10px 10px;
    }
}
@media (max-width: 767px) {
    .cardDiv {
        padding: 20px 80px;
        gap: 20px;

    }

    .cardMainDiv {
        padding: 80px 20px;
    }
}

@media (max-width:1024px) {
    .cardDiv {
        padding: 20px 10px;
        gap: 20px;

    }

    .cardMainDiv {
        padding: 80px 20px;
    }
    .text{

    }
}

/* 
@media (max-width: 1024px) {
    .cardDiv {
        padding: 20px 80px;
        gap: 20px;

    }

    .cardMainDiv {
        padding: 40px 20px;
    }
} */

@media (max-width: 576px) {
    /* .carousel-item img {
        height: 400px;
    } */

    .cardDiv {
        padding: 20px 20px;

    }
}

@media (max-width: 320px) {
    .navbar {
        padding: 10px 10px;

    }
}
@media (max-width: 320px) {
    .city img {
        width: 310px;
        margin: 8px;
        margin-left:5px;
    }   
    .text{
      padding-top: 10px;
    } 
}
@media (max-width: 320px) {
    .city-1 img {
        width: 310px;
        margin: 5px;
        /* margin-left: 20px; */
    }    
}
@media (max-width: 320px) {
    .city-2 img {
        width: 310px;
        margin: 5px;

    }    
}

@media (min-width: 320px) {
    .city img {
        width: 310px;
        margin: 8px;
        margin-left:5px;
    } 
    .text{
        padding-top: 10px;
      }    
}
@media (min-width: 320px) {
    .city-1 img {
        width: 310px;
        margin: 5px;
        /* margin-left: 20px; */
    }    
}
@media (min-width: 320px) {
    .city-2 img {
        width: 310px;
        margin: 5px;

    }    
}
@media (max-width: 1024px) {

    .city img {
        width: 100%;
        margin: 8px;
        margin-left:5px;
    } 
    .city-1 img {
        width: 100%;
        margin: 5px;
        /* margin-left: 20px; */
    }    

    .city-2 img {
        width: 100%;
        margin: 5px;

    }    
}

@media (min-width: 1024px) {

    .city img {
        width: 100%;
        margin: 8px;
        margin-left:5px;
    } 
    .city-1 img {
        width: 100%;
        margin: 5px;
        /* margin-left: 20px; */
    }    

    .city-2 img {
        width: 100%;
        margin: 5px;

    }    
}


/* @media (max-width: 1024px) {
    .text {
   margin: 100px;
    }    
} */


@media (max-width: 320px) {

    .village{
        width: 300px;
    }
}
@media (min-width: 320px) {

    .village{
       width: 300px;
    }
   }

   @media (min-width: 340px) {

    .village{
       width: 325px;
    }
   }

   @media (min-width: 350px) {

    .village{
       width: 330px;
    }
   }
   @media (min-width: 380px) {

    .village{
       width: 350px;
    }
   }

   @media (min-width: 400px) {

    .village{
       width: 380px;
    }
   }

   @media (min-width: 450px) {

    .village{
       width: 420px;
    }
   }
   @media (min-width: 480px) {

    .village{
       width: 455px;
    }
   }
   @media (min-width: 500px) {

    .village{
       width: 475px;
    }
   }
   @media (min-width: 525px) {

    .village{
       width: 495px;
    }
   }

   @media (min-width: 550px) {

    .village{
       width: 515px;
    }
   }

   @media (min-width: 600px) {

    .village{
       width: 575px;
    }
   }

   @media (min-width: 650px) {

    .village{
       width: 625px;
    }
   }
   @media (min-width: 700px) {

    .village{
       width: 675px;
    }
   }

   
   @media (min-width: 750px) {

    .village{
       width: 735px;
    }
    .text-center{
        padding-top: 10px;
        justify-content: center;
    }
   }
   @media (min-width: 800px) {

    .village{
     width: 775px;
    }
   }

   @media (min-width: 825px) {

    .village{
       width: 800px;
    }
   }
   @media (min-width: 850px) {

    .village{
       width: 830px;
    }
   }

   @media (min-width: 900px) {

    .village{
       width: 875px;
    }
   }

   
   @media (min-width: 950px) {

    .village{
       width: 915px;
    }
   }

@media (min-width: 1024px) {

    .village{
        width:100%;
    }
}